
.hero-body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box {
    text-align: center;
    background-color: #f5f5f5;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .loginButton {
    background-color: #000;
    border-radius: 15px;
    color: #f5f5f5;
  }